*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;   
    background: linear-gradient(-45deg,#02325b, #3f586c);
    background-attachment: fixed;
}

header{
    text-align: center;
    width: 100%; /* Ocupa toda a largura da página */
    background: linear-gradient(-45deg,#1C3D5A, #4682B4);
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: 0 0 30px #080f15;
    cursor: cell;
}

header p{
    display: flex;
    width: 40%;
    margin: auto; /* Centraliza horizontalmente o <p> dentro do header */
    letter-spacing: 2px;
    background-color: #1c3d5a5e;
    padding: 10px;
    border-radius: 10px;
}

.content{
    display: flex;
    margin: 45px auto auto auto;
    background-color: #265681;
    padding: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    width: 50%;
    cursor: not-allowed;
    border-radius: 20px;
}

.content img {
    width: 200px;
    height: auto;
    padding: 15px;
}

#qrIMG{
    border-radius: 10px;
}

.content h1{
    margin-left: 3px;
    margin-top: -3px;
}

.content p{
    margin-left: 10px;
    font-size: 19px;
    background-color: #02315b4a;
    padding: 20px;
    border-radius: 13px;
}

.bloco1{
    padding: 20px;
}

.btn{
    background: linear-gradient(45deg,#265782, #4682B4);
    margin-top: 50px;
    margin-bottom: 15px;
    display: block;
    border-radius: 10px;
    border: none;
    cursor: grab;
    padding: 18px;
    font-size: 19px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7)
}

.sitePreview {
    display: flex;               /* Usando flexbox */
    justify-content: center;     /* Centraliza horizontalmente */
    align-items: center;         /* Centraliza verticalmente (caso precise) */
    width: 100%;                 /* A div ocupa 100% da largura do container */
    height: auto;                /* Ajuste conforme necessário */
}

.sitePreview img {
    max-width: 35%;             /* Garantir que a imagem não ultrapasse a largura da div */
    height: auto;   
    border-radius: 15px;             /* Ajusta a altura automaticamente para manter as proporções */
    margin-top: 100px;
    margin-bottom: 200px;
    box-shadow: 0 0 15px rgb(28, 79, 182);
    cursor: not-allowed;
}

.blur-effect {
    background: linear-gradient(to right, #ff6a0000, #ee097800);
    transition: filter 0.3s ease-out; /* Suaviza a transição do efeito */
    will-change: filter;
}