body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url(./planoDeFundo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.893);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.9);
}

input {
    padding: 10px;
    width: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: width 0.5s;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#qrcodeContainer {
    margin-top: 20px;
}

img {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    cursor: pointer;
    background: rgba(15, 15, 15, 0.568);
    padding: 9px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    margin-bottom: 25px;
    transition: transform 0.5s;
}

.opacity{
    opacity: 0;
}

#title {
    transition: opacity 0.3s ease; /* Transição suave na opacidade */
    opacity: 1; /* Opacidade inicial */
}