body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url(./planoDeFundo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
}

.container {
    margin-top: 170px;
    text-align: center;
    background: rgb(2, 80, 144);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.9);
}

input {
    padding: 10px;
    width: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: width 0.5s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

button:hover {
    background-color: #218838;
}

#qrcodeContainer {
    margin-top: 20px;
}

img {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    cursor: pointer;
    background: rgba(15, 15, 15, 0.568);
    padding: 9px;
    box-shadow: 0 0 20px rgb(247, 249, 249);
    border-radius: 20px;
    margin-bottom: 25px;
    transition: transform 0.5s;
}

.opacity{
    opacity: 0;
}

#title {
    transition: opacity 0.3s ease; /* Transição suave na opacidade */
    opacity: 1; /* Opacidade inicial */
    margin-bottom: 35px;
}

header {
    background-color: black;
    position: fixed; /* Fixa a posição da header no topo */
    top: 0; /* Alinha a header ao topo da tela */
    left: 0; /* Alinha a header à esquerda da tela */
    right: 0; /* Alinha a header à direita da tela */
    z-index: 1000; /* Garante que a header fique acima de outros elementos */
    width: 100%; /* Garante que a header ocupe toda a largura da tela */
    padding-bottom: 55px;
    box-shadow: 0 0 20px rgb(2, 80, 144);
    border-radius: 35px;
}

#headerTitle{
    color: rgb(2, 80, 144);
    text-align: center;
    margin-top: 50px;
}

#headerDesc{
    color: rgba(2, 80, 144, 0.954);
    text-align: center;
    letter-spacing: 4px;
    margin-top: -10px;
}