* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(145deg, #023265, rgba(51, 22, 81, 0.653));
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    transition: background 0.3s, color 0.3s;
}

.container {
    max-width: 475px;
    width: 100%;
    height: auto;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.9);
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

#locationSelector {
    margin: 20px 0;
}

#locationSelector label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#state, #city {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#showTimeBtn, #v2Btn, #switchThemeBtn {
    background: #28a745;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-right: 10px;
}

#showTimeBtn:disabled, #v2Btn:disabled {
    background: #ddd;
    cursor: not-allowed;
}

#showTimeBtn.enabled, #v2Btn.enabled, #switchThemeBtn {
    background: #28a745;
}

#showTimeBtn:hover:enabled, #v2Btn:hover:enabled, #switchThemeBtn:hover:enabled {
    background-color: #218838;
}

#currentTime {
    font-size: 36px;
    font-weight: bold;
}

#v2Container {
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
}

.btn {
    background: #17a2b8;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    display: block;
    margin: 20px auto;
    transition: background-color 0.3s;
}

#toggleScreenBtn:hover {
    background-color: #138496;
}

#switchThemeBtn {
    display: block;
    margin: 20px auto; 
}

.themesBtn {
    display: flex;
    justify-content: center; 
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    display: block;
    margin: 20px auto;
    transition: background-color 0.3s;
}

.swthemebtn {
    border-radius: 5px;
    padding: 7px;
    background-color: #6904;
}

.swthemebtn:hover {
    background-color: rgba(62, 92, 3, 0.267);
    cursor: pointer;
}

.normal {
    background-color: #17a2b8;
}

.light-theme {
    background: linear-gradient(145deg, #023265, rgba(51, 22, 81, 0.653));
}

.dark-theme {
    background: linear-gradient(145deg, #1a1a1a, #333);
    color: #000000;
    box-shadow: 0 0 100px rgb(221, 215, 215);
}
