body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.gallery img {
    max-width: 200px;
    max-height: 200px;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    object-fit: cover;
}