* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimentos padrão */
    box-sizing: border-box; /* Garante que o padding e a borda sejam incluídos nas dimensões totais dos elementos */
}

body {
    margin: 0;  
    background: linear-gradient(155deg, #376675, #50717B, #273235);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw; /* Garante que o corpo ocupe toda a largura da tela */
    height: 100vh; /* Garante que o corpo ocupe toda a altura da tela */
}

.header {
    background-color: black;
    box-shadow: 0 0 30px rgba(25, 124, 194, 0.808);
    color: #1D3C58;
    text-align: center;
    padding: 20px;
    width: 100%;
    border: none; /* Remove qualquer borda */
    position: fixed; /* Fixa a posição da header no topo */
    top: 0;
    left: 0;
    right: 0;
}

#desc{
    opacity: 1;
    letter-spacing: 3px;
    margin-top: 20px;
    color: #1D3C58;
}

.reedem {
    background-color: #4A7B96;
    color: #1D3C58;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 35px;
    font-size: 18px;
    max-width: 300px;
    margin-top: 250px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.9);
    transition: transform 1.2s ease;
}

.reedem:hover{
    transform: scale(1.5);
}

input{
    width: 70px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: #e9e9e9;
    transition: width 0.5s;
}

.btn{
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    border: 0px solid;
    width: 20%;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
    transition: background 0.7s ease;
    opacity: 0.8;
    background-color: rgba(126, 13, 13, 0.737);
    font-size: 11px;
}

.btn:hover{
    background: #1D3C58;
    color: rgb(255, 255, 255);
    opacity: 1;
}

#msg{
    margin-top: 25px;
    color: white;
    background-color: rgba(255, 255, 255, 0.412);
    border-radius: 10px;
    padding: 10px;
    opacity: 0;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.animate-input {
    transition: all 1s ease-out;
}

#newBtnId{
    border: 0px solid;
    padding: 10px;
    border-radius: 10px;
    color: #1D3C58;
    cursor: pointer;
    background: linear-gradient(155deg, #52a0b9, #205f70);
    box-shadow: 0 0 15px rgb(4, 91, 138);

}