body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(145deg, #f2f2f2, #2769);
    background-size: cover;
    background-attachment: fixed;
}

.menu{
    background-color: black;
    color: #f2f2f2;
    padding: 20px;
    text-align: center;
    margin: -10px -10px -10px -10px;
}

p{
    letter-spacing: 2px;
    opacity: 0.7;
}

.adicionarTarefaDiv {
    display: flex; /* Ativa o flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: calc(15vh); /* Ajusta a altura para deixar espaço para o cabeçalho */
}

.addWork{
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid;
    transition: background-color 0.8s ease;
}

.addWork:hover{
    background-color: rgba(0, 128, 0, 0.551);
}

.conteudo{
    background-color: rgba(34, 119, 102, 0.525);
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    padding-left: 30px;
    margin: 15px;
}

.removeBtn{
    border: 1px solid;
    border-radius: 5px;
    background-color: rgba(165, 42, 42, 0.708);
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.8s ease;
}

.removeBtn:hover{
    transform: scale(1.1);
}